/* 
    Document   : adimanager
    Created on : 19/05/2018, 09:00:00
    Author     : jonathan
*/

/*SISTEMA*/
html {
    font-size: 12px !important;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Verdana,Tahoma,Arial,sans-serif;
    margin: 0;
}

.botoes{
    font-size: 12px !important;
    font-weight: 300;
    line-height: 110%;
    display: table-cell;
    min-width: 7em;
    box-sizing: border-box;
    text-align: center;
    padding: 12px 20px;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    cursor: hand;
    border-radius: 2px;
}

.botao{
    font-size: 14.4px !important;
    text-align: center;
}

.botaoAzul{    
    background-color: #258dc8;
    color: #fff !important;    
    text-shadow: none;
}

.botaoAzul:hover{
    background-color: #006699;        
}

.botaoVermelho{    
    background-color: #f62b2b !important;
    color: #fff !important;    
    text-shadow: none;
}

.botaoVermelho:hover{
    background-color: #f85670 !important; 
}

.botaoVerde{    
    background-color: #199236 !important;
    color: #fff !important;
    text-shadow: none;
}

.botaoVerde:hover{
    background-color:#0e7c28 !important; 
}

.botaoCinza{    
    background-color: #999999;
    color: #fff !important;   
    text-shadow: none;
}

input.botaoCinza, input.botaoAzul, input.botaoVerde{
    font: normal 700 12px/94% Helvetica,Verdana,Tahoma,Arial,sans-serif !important;
    -moz-padding-before: 10px !important;
    -moz-padding-after: 10px !important;
    -webkit-padding-before: 11px !important;
    -webkit-padding-after: 11px !important;
}

.botaoCinza:hover{
    background-color: #777777;    
}

.btn {
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.label {    
    font-weight: bolder !important;
    color: #333333;
}

.msg-campos-obrigatorios {
    font-size: 15px;
    font-weight: bold;
    color: dimgrey;
    margin-bottom: 5px;
}

.adimanager-group {
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.adimanager-group input, .adimanager-group textarea, .adimanager-group select{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.adimanager-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.center {
    text-align: center;
}

.adimanager-group input, .adimanager-group textarea {
    background-color: #FFFFFF !important;
    background-image: none !important;
    border-radius: 1px !important;
    color: inherit !important;
    padding: 6px 20px !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
    width: 100% !important;
    font-size: 14px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.adimanager-group input:focus, .adimanager-group select:focus {
    border: 1px solid #5D9CEC !important;
    box-shadow: none !important;
    outline: none !important;
}

.adimanager-group .botoes {
    display: block;
    float: left;
    margin: 2.5px;
}

.painel-botoes {
    display: block;
    text-align: center;
    margin: 15px 0 5px 0;
}

.nome-exclusao {
    text-align: center;
    color: #b96570;
}

@media (max-width: 640px) {
    .adimanager-group .botoes {
        width: 100% !important;
        float: none;
    }

    .adimanager-group .botoes, input.botao-pdf {
        width: 100% !important;
        float: none;
    }

}

.adimanager-group select {
    border: 1px solid #cccccc;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 11px;
    font-size: 13px;
}

.adimanager-group .ui-spinner {
    width: 100%;
}
.adimanager-group .ui-autocomplete {
    width: 100% !important;
}
.adimanager-group .ui-autocomplete-input {
    float: left !important;
    width: calc(100% - 30px) !important;
}
.form-auto .ui-autocomplete-input {
    width: 100% !important;
    margin-top: -4px;
}
.adimanager-group .ui-autocomplete-dropdown {
    float: left !important;
    width: 30px !important;
}

.ui-dialog.responsive {
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    background-color: rgba(0, 0, 0, 0.01) !important;
    height: 100% !important;
    overflow-y: auto !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}

.ui-dialog.responsive > .ui-dialog-content {
    background-color: #fff !important;
    display: block;
    width: 100%;
    margin: 35px auto;
    max-width: 730px;
    overflow: visible !important;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21) !important;
}

.datatable-custom {
    text-align: center;
}

.ui-dialog.responsive.responsive-small > .ui-dialog-content {
    max-width: 375px;
}

.datatable-custom .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-image: none!important;
}

.tooltip-custom p {
    padding: 15px 0px 0px 0px;
}

a { 
    color: #258dc8;
    text-decoration: none;        
}
a:visited {
    text-decoration: none;    
}

a:active {
    text-decoration: none;    
}

.panel-width{
    width: 100%;
    margin-bottom: 10px;
}

.width-full {
    width: 100%;
}

/*LINK PARA CONSULTA (CONSULTA CLIENTES E INDICAÇÕES)*/
.link-consulta-acao {
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-top: 5px;
}

/*AJUSTES FILEUPLOAD (FOTOS)*/
@media screen and (max-width: 40em){
    .ui-fileupload-buttonbar .ui-button .ui-button-text {
        display: inline-block !important; 
    }
    .ui-fileupload-buttonbar .ui-button {
        padding: 0em !important;
    }
}

.file-upload-foto .ui-fileupload-content {
    display: none;
}

.file-upload-foto .ui-widget-header {
    border: none; 
    background: none; 
    color: #333333;
    font-weight: normal; 
}

.file-upload-foto .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #333333;
    /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
    cursor: pointer;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: none;
    background-image: none;
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: no-repeat;
    border: none;
    /* border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
    /* border-color: #e6e6e6 #e6e6e6 #bfbfbf; */
    /* border-bottom-color: #b3b3b3; */
    /* -webkit-border-radius: 4px; */
    -moz-border-radius: 4px;
    /* border-radius: 4px; */
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.icon-close {
    background-color: #d8d6d6;
    padding: 4px;
    box-sizing: border-box;
    display: block;
    margin: 0px auto;
    width: 19px;
    border-radius: 3px;
}

/* ALTERAÇÕES PRIMEFACES REFERENTE AO CADASTRO DE USUÁRIOS*/
.center-object-block {
    margin: 0 auto 10px;
    display: block !important;
}

.width-full-input .ui-inputfield {
    width: 100% !important;
}

.image-perfil {
    width: 96px;
    height: 96px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.margin-down {
    margin-left: -30px;
    margin-right: -30px;
}

.file-upload-foto {
    width: 96px;
    height: 96px;
}

.file-upload-foto .ui-button-text-icon-left .ui-button-text {
    padding: 8px 1em .3em 2.1em !important;
}

.link-remover-imagem {  
    text-align: center;
    width: 130px;
    margin: -20px auto 10px;
    display: block;
    color: red;
    font-weight: bold;
}

/* PAGINA LOGIN*/
.login-body{
    background-image: url("#{resource['images/bg-dark.jpg']}");
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

.container--space{
    margin-top: 100px;
}

.login-header{
    background-color: #484848;
    text-align: center;
    padding: 0px 14px;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);

}

.container-login{
    padding: 50px 70px;
    background-color: hsla(0, 8%, 95%, 0.94);
    border-radius: 1px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);

}

@media (max-width: 400px) {
    .container-login{
        padding: 50px 20px;
        background-color: hsla(0, 8%, 95%, 0.94);
        border-radius: 1px;
        -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    }
}

.container-login h1{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    font-weight: bolder;
}

.input-field{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-footer{
    color: #fff;
    text-align: center;
    padding: 8px 14px;
}

.login-footer h1{
    font-size: 14px;
    margin-top: -5px;
}

.login-footer p{
    font-size: 12px;
}

/* PAGINAS DE ERRORS */
p{line-height: 18px; margin-top: -10px; font-weight: bold;}
.display-1 {text-align:center;margin-bottom: -20px;color: #199236;}
.fa-space{margin: 0px 2px;}
.display-1 .fa {animation:fa-spin 5s infinite linear;}
.display-3 {text-align:center;color:#199236;font-size: 35pt; color: #333;}
.lower-case {text-align:center;}
.container-error{
    height: 505px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 140px 20px;
}