/*CUSTOMIZAÇÕES AQUI*/

body{
    font-size: 14px;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: normal;
}

.width-full{
    width: 100%;
}

.sidebar-menu li .a-item-menu:hover {
	border-left: 3px solid #1cc09f;
}

.sidebar-menu li a i,
#aside-rigth li a i {
	color: #1cc09f;
}

/*EFEITO ÍCONES MENU*/

a .sidebar-menu li:hover i {
	animation: treme 0.6s;
	animation-iteration-count: 0.5;
}

@keyframes treme {
	0% {
		margin-left: 0;
	}
	25% {
		margin-left: 5px;
	}
	50% {
		margin-left: 0;
	}
	75% {
		margin-left: -5px;
	}
	100% {
		margin-left: 0;
	}
}

/*CUSTOMIZAÇÃO TABELA*/
.table-width{
    width: 90%;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
}

.container-principal{
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 20px;
}
